name: Deploy CIROH Portal to GitHub Pages

on:
  push:
    branches: [ main, test-deploy ]
  workflow_dispatch:

jobs:
  build:
    name: Build Docusaurus
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: npm

      - name: Install dependencies
        run: npm ci

      - name: Determine build type and version
        id: build-info
        run: |
          if [[ "${{ github.ref }}" == refs/tags/production-* ]]; then
            TAG="${{ github.ref }}"
            VERSION=${TAG#refs/tags/production-}
            echo "DEPLOY_ENV=production" >> $GITHUB_ENV
            echo "VERSION=$VERSION" >> $GITHUB_ENV
            echo "Building for PRODUCTION environment"
          else
            VERSION=$(date +'%Y%m%d-%H%M%S')
            echo "DEPLOY_ENV=staging" >> $GITHUB_ENV
            echo "VERSION=$VERSION" >> $GITHUB_ENV
            echo "Building for STAGING environment"
          fi
          
      - name: Configure baseUrl (staging)
        if: ${{ env.DEPLOY_ENV == 'staging' }}
        run: |
          # Create a backup of the original config
          cp docusaurus.config.js docusaurus.config.js.bak
          
          # Use sed to replace the baseUrl value
          echo "Setting baseUrl for staging"
          sed -i 's|baseUrl: '\''\/local\/'\''|baseUrl: '\''/docuhub-staging/'\''|g' docusaurus.config.js
          sed -i 's|baseUrl: "\/local\/"|baseUrl: "\/docuhub-staging\/"|g' docusaurus.config.js
          sed -i 's|baseUrl = '\''\/local\/'\''|baseUrl = '\''/docuhub-staging/'\''|g' docusaurus.config.js
          sed -i 's|baseUrl = "\/local\/"|baseUrl = "\/docuhub-staging\/"|g' docusaurus.config.js
          
          # Show the changed config
          echo "Modified docusaurus.config.js:"
          cat docusaurus.config.js
      
      - name: Configure baseUrl (production)
        if: ${{ env.DEPLOY_ENV == 'production' }}
        run: |
          # Create a backup of the original config
          cp docusaurus.config.js docusaurus.config.js.bak
          
          # Use sed to replace the baseUrl value
          echo "Setting baseUrl for production"
          sed -i 's|baseUrl: '\''\/local\/'\''|baseUrl: '\''/'\''|g' docusaurus.config.js
          sed -i 's|baseUrl: "\/local\/"|baseUrl: "\/"|g' docusaurus.config.js
          sed -i 's|baseUrl = '\''\/local\/'\''|baseUrl = '\''/'\''|g' docusaurus.config.js
          sed -i 's|baseUrl = "\/local\/"|baseUrl = "\/"|g' docusaurus.config.js
          
          # Show the changed config
          echo "Modified docusaurus.config.js:"
          cat docusaurus.config.js


      - name: Build website
        run: npm run build
        env:
          ZOTERO_API_KEY: ${{ secrets.ZOTERO_API_KEY }}
          ZOTERO_CIROH_GROUP_ID: ${{ secrets.ZOTERO_CIROH_GROUP_ID }}
          CAPTCHA_KEY: ${{ secrets.CAPTCHA_KEY }}
          S3_BUCKET_NAME: ${{ secrets.S3_BUCKET_NAME }}
          S3_ACCESS_KEY: ${{ secrets.S3_ACCESS_KEY }}
          S3_SECRET_KEY: ${{ secrets.S3_SECRET_KEY }}
          S3_REGION: ${{ secrets.S3_REGION }}
          HS_CLIENT_ID: ${{ secrets.HS_CLIENT_ID }}
          
      - name: Upload Build Artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: build
      
      - name: Create release
        if: ${{ env.DEPLOY_ENV == 'production' }}
        uses: actions/create-release@v1
        id: create_release
        env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
            tag_name: v${{env.VERSION}}
            release_name: Release v${{env.VERSION}}
            draft: false
            prerelease: false

  deploy:
    name: Deploy to GitHub Pages
    needs: build
    permissions:
      pages: write # to deploy to Pages
      id-token: write # to verify the deployment originates from an appropriate source

    # Deploy to the github-pages environment
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4